<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>
      About Page
    </title>
      {{> header}}
    <body>
      <p>This is the about page</p>
    </body>
  </head>
  {{> footer}}
</html>
