<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>
      About Page
    </title>
    <body>
      <h1>{{pageTitle}}</h1>
      <p>This is the about page</p>
    </body>
  </head>
<footer>
  Copyright {{currentYear}}: Dasa Raghavan
</footer>
</html>
