<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>
      Home Page
    </title>
    {{> header}}
    <body>
      <p>{{screamIt welcomeMessage}}</p>
      <p>My name is {{name}}. I am {{age}} years old and like</p>

        {{#each likes}}
        <ul>
          <li>{{.}}</li>
        </ul>
        {{/each}}

    </body>
  </head>
  {{> footer}}

</html>
